<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <%= puts error %>
  <% end %>
<% end %>

<form>
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="hidden" name="secrets[author_id]" value="<%= user.id %>">
  
  <input class="secret" type="text" name="secrets[title]">

  <span class='dropdown'></span>

<button class="add_dropdown">Add Another Tag</button>
  <p><input type='submit' value="Make Secret!"></p>
</form>


<script type='application/json' id='bootstrapped_tags_json'>
  <%= Tag.all.to_json.html_safe %>
</script>

<script type='text/template' id='tags_dropdown'>
  <select name="secrets[tag_ids][]">
    <%% _(tags).each(function (tag) { %>
      <option value='<%%= tag.id %>'>
        <%%= tag.title %>
      </option>
    <%% }) %>
  </select>
</script>



<script type='application/javascript'>
  var tagData = JSON.parse($('#bootstrapped_tags_json').html());
  var templateFn = _.template($("#tags_dropdown").html());
  var renderedContent = templateFn({tags: tagData})
  $('.dropdown').html(renderedContent)
</script>

<script>
$(function () {
  $('.add_dropdown').on('click', function() {
    $('.dropdown').append(renderedContent);
  })
})
</script>
